# $Id: sip_router.cfg,v 1.4 2001/09/06 02:24:00 andrei Exp $

# format:
#  method_re   sip_uri_re      dest_host
# (warning: re cannot contain space)

#.*			.*				   centauri.fokus.gmd.de 
.			.				   fox.iptel.org
^R.*        ^sip:.*@dorian.*   ekina.fokus.gmd.de        
^INVITE     .*                 ape:5061             # my laptop
.           .                  192.168.46.55
.*			.*andrei		   helios.fokus.gmd.de


# end
